{{> sideNav userData=userData}}

  <div class="card text-center text-body-secondary">
    <div class="card-header">
      <img src="../../uploads/{{userData.profileImage}}" class="rounded-circle mb-2" alt="My Image" width="150" height="150">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{userData.name}}</h5>
      {{#each userDb}}
        <h6>{{this.bio}}</h6>
      {{/each}}

      <p class="card-text">{{userData.phone}}</p>
      <p>{{userData.about}}</p>
    </div>
    <div class="card-footer">
        <a href="/edit-profile" class="btn btn-primary">Edit Profile</a>
      <a href="/add-bio" class="btn btn-primary">Add Bio</a>
    </div>
  </div>
